# Execute the code below

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, r2_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [ ]:
link_main = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/weather_main_2018.csv"
link_opinion = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/weather_opinion_2018.csv"
df_main = pd.read_csv(link_main)
df_opinion = pd.read_csv(link_opinion)
print(df_main.head())
print(df_opinion.head())

         DATE  MAX_TEMPERATURE_C  ...  DEWPOINT_MAX_C  WINDTEMP_MAX_C
0  2018-01-01                 12  ...               8               7
1  2018-01-02                 13  ...              12               6
2  2018-01-03                 15  ...              13               7
3  2018-01-04                 14  ...              12              10
4  2018-01-05                 12  ...              10               7

[5 rows x 15 columns]
         date  WEATHER_CODE_EVENING  TOTAL_SNOW_MM  UV_INDEX  SUNHOUR OPINION
0  2018-01-01                   113              0         3      5.1     bad
1  2018-03-12                   119              0         2      8.8     bad
2  2018-03-09                   116              0         3     10.2     bad
3  2018-10-07                   122              0         1      5.6     bad
4  2018-06-18                   119              0         1     12.9     bad

In [ ]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    365 non-null    object
 1   MAX_TEMPERATURE_C       365 non-null    int64
 2   MIN_TEMPERATURE_C       365 non-null    int64
 3   WINDSPEED_MAX_KMH       365 non-null    int64
 4   TEMPERATURE_MORNING_C   365 non-null    int64
 5   TEMPERATURE_NOON_C      365 non-null    int64
 6   TEMPERATURE_EVENING_C   365 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     365 non-null    float64
 8   HUMIDITY_MAX_PERCENT    365 non-null    int64
 9   VISIBILITY_AVG_KM       365 non-null    float64
 10  PRESSURE_MAX_MB         365 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  365 non-null    float64
 12  HEATINDEX_MAX_C         365 non-null    int64
 13  DEWPOINT_MAX_C          365 non-null    int64
 14  WINDTEMP_MAX_C          365 non-null    int64
dtypes: float64(3), int64(11), object(1)
memory usage: 42.9+ KB

In [ ]:
df_opinion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  341 non-null    object
 1   WEATHER_CODE_EVENING  341 non-null    int64
 2   TOTAL_SNOW_MM         341 non-null    int64
 3   UV_INDEX              341 non-null    int64
 4   SUNHOUR               341 non-null    float64
 5   OPINION               341 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 16.1+ KB

In [ ]:
df_main.describe()

       MAX_TEMPERATURE_C  MIN_TEMPERATURE_C  ...  DEWPOINT_MAX_C  WINDTEMP_MAX_C
count         365.000000         365.000000  ...      365.000000      365.000000
mean           16.879452           9.315068  ...       11.646575       12.378082
std             6.773959           5.339251  ...        5.338387        8.031843
min             1.000000          -6.000000  ...        0.000000      -11.000000
25%            12.000000           6.000000  ...        8.000000        6.000000
50%            16.000000           9.000000  ...       12.000000       12.000000
75%            23.000000          14.000000  ...       16.000000       19.000000
max            33.000000          21.000000  ...       22.000000       30.000000

[8 rows x 14 columns]

In [ ]:
df_opinion.describe()

       WEATHER_CODE_EVENING  TOTAL_SNOW_MM    UV_INDEX     SUNHOUR
count            341.000000          341.0  341.000000  341.000000
mean             118.507331            0.0    1.574780    9.903519
std               16.988338            0.0    1.126346    3.543650
min              113.000000            0.0    1.000000    3.300000
25%              113.000000            0.0    1.000000    7.400000
50%              116.000000            0.0    1.000000   10.200000
75%              119.000000            0.0    1.000000   11.600000
max              353.000000            0.0    5.000000   16.000000

# Classification challenge

Your goal are :
- to merge both 2018 DataFrames
- to train-test split the new 2018 DataFrame
- to train 3 differents Machine Learning algorithms (KNN, logistic regression and decision tree) with "opinion" as target
- to try different parameters
- to find the best accuracy score (on the test set of course)
- to fill the missing values in the "opinion" columns whith your best model
- to explain what is the "rules" used by your model to predict the opinion.

You can help yourself with charts if you want.

Merge both 2018 DataFrames

In [ ]:
# Merge :

df2018 = pd.merge(df_main, df_opinion, how = "left", left_on = 'DATE', right_on = 'date')
df2018

           DATE  MAX_TEMPERATURE_C  ...  SUNHOUR   OPINION
0    2018-01-01                 12  ...      5.1       bad
1    2018-01-02                 13  ...      3.3       bad
2    2018-01-03                 15  ...      3.3       bad
3    2018-01-04                 14  ...      3.3       bad
4    2018-01-05                 12  ...      6.9       bad
..          ...                ...  ...      ...       ...
360  2018-12-27                  7  ...      8.7  very bad
361  2018-12-28                  7  ...      8.7  very bad
362  2018-12-29                  7  ...      8.7  very bad
363  2018-12-30                  9  ...      3.3  very bad
364  2018-12-31                  9  ...      8.7  very bad

[365 rows x 21 columns]

In [ ]:
# Drop the 'date' column :

df2018.drop('date',             
            axis = 1,           
            inplace = True)

In [ ]:
# Display the "non-null" columns :

print("My DataFrame shape is : ", df2018.shape, end = '\n\n\n\n')
print('Which columns have missing values ? (Non-null column)')
print(df2018.info())

# Il manque 24 valeurs dans 5 colonnes !

My DataFrame shape is :  (365, 20)



Which columns have missing values ? (Non-null column)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    365 non-null    object
 1   MAX_TEMPERATURE_C       365 non-null    int64
 2   MIN_TEMPERATURE_C       365 non-null    int64
 3   WINDSPEED_MAX_KMH       365 non-null    int64
 4   TEMPERATURE_MORNING_C   365 non-null    int64
 5   TEMPERATURE_NOON_C      365 non-null    int64
 6   TEMPERATURE_EVENING_C   365 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     365 non-null    float64
 8   HUMIDITY_MAX_PERCENT    365 non-null    int64
 9   VISIBILITY_AVG_KM       365 non-null    float64
 10  PRESSURE_MAX_MB         365 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  365 non-null    float64
 12  HEATINDEX_MAX_C         365 non-null    int64
 13  DEWPOINT_MAX_C          365 non-null    int64
 14  WINDTEMP_MAX_C          365 non-null    int64
 15  WEATHER_CODE_EVENING    341 non-null    float64
 16  TOTAL_SNOW_MM           341 non-null    float64
 17  UV_INDEX                341 non-null    float64
 18  SUNHOUR                 341 non-null    float64
 19  OPINION                 341 non-null    object
dtypes: float64(7), int64(11), object(2)
memory usage: 59.9+ KB
None

In [ ]:
# Fill the missing values (voir quête précédente) :

# Affichage des déciles dans la colonne WEATHER_CODE_EVENING :

i = 0

# 9 déciles :
for i in [x * 0.1 for x in range(1, 10)]:
    print(df2018['WEATHER_CODE_EVENING'].quantile(i))

113.0
113.0
113.0
113.0
116.0
116.0
119.0
122.0
122.0

In [ ]:
# Choix de la médiane pour remplacer les NaN de cette colonne :
median_weather_column = df2018["WEATHER_CODE_EVENING"].median()

df2018['WEATHER_CODE_EVENING'].fillna(median_weather_column, 
                                      inplace = True) 
df2018['WEATHER_CODE_EVENING'].value_counts()

113.0    154
116.0    102
122.0     59
119.0     34
143.0     12
200.0      2
353.0      1
248.0      1
Name: WEATHER_CODE_EVENING, dtype: int64

In [ ]:
# Check how many missing values you have in the column WEATHER_CODE_EVENING :

column_name = 'WEATHER_CODE_EVENING'
print("I have" , df2018[column_name].isna().sum(), "missing values in the column", column_name)

I have 0 missing values in the column WEATHER_CODE_EVENING

In [ ]:
# Fill the values in the columns TOTAL_SNOW_MM + vérification (moyenne) :

column_name2 = 'TOTAL_SNOW_MM'

mean_TOTAL_SNOW_MM = df2018['TOTAL_SNOW_MM'].mean() 

df2018['TOTAL_SNOW_MM'].fillna(mean_TOTAL_SNOW_MM,  
                               inplace = True)

print("I have" , df2018[column_name2].isna().sum(), "missing values in the column", column_name2)

I have 0 missing values in the column TOTAL_SNOW_MM

In [ ]:
# Fill the values in the columns UV_INDEX + vérification (médiane) :

column_name3 = 'UV_INDEX'

median_UV_INDEX = df2018['UV_INDEX'].median() 

df2018['UV_INDEX'].fillna(median_UV_INDEX, 
                               inplace = True)

print("I have" , df2018[column_name3].isna().sum(), "missing values in the column", column_name3)

I have 0 missing values in the column UV_INDEX

In [ ]:
# Fill the values in the column SUNHOUR :

df2018['SUNHOUR'].fillna(method = 'bfill', inplace = True) # Use the the `method = 'bfill'` argument in `fill_na()` to propagate non-null values forward or backward.

In [ ]:
# Vérification :

column_name = 'SUNHOUR'
print("I have" , df2018[column_name].isna().sum(), "missing values in the column", column_name)

I have 0 missing values in the column SUNHOUR

In [ ]:
df2018.info() # Il reste encore 24 NaN dans la colonne OPINION... C'est normal (pour l'instant !)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    365 non-null    object
 1   MAX_TEMPERATURE_C       365 non-null    int64
 2   MIN_TEMPERATURE_C       365 non-null    int64
 3   WINDSPEED_MAX_KMH       365 non-null    int64
 4   TEMPERATURE_MORNING_C   365 non-null    int64
 5   TEMPERATURE_NOON_C      365 non-null    int64
 6   TEMPERATURE_EVENING_C   365 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     365 non-null    float64
 8   HUMIDITY_MAX_PERCENT    365 non-null    int64
 9   VISIBILITY_AVG_KM       365 non-null    float64
 10  PRESSURE_MAX_MB         365 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  365 non-null    float64
 12  HEATINDEX_MAX_C         365 non-null    int64
 13  DEWPOINT_MAX_C          365 non-null    int64
 14  WINDTEMP_MAX_C          365 non-null    int64
 15  WEATHER_CODE_EVENING    365 non-null    float64
 16  TOTAL_SNOW_MM           365 non-null    float64
 17  UV_INDEX                365 non-null    float64
 18  SUNHOUR                 365 non-null    float64
 19  OPINION                 341 non-null    object
dtypes: float64(7), int64(11), object(2)
memory usage: 59.9+ KB

In [ ]:
# Création de la colonne "FLAG" :

df2018['FLAG'] = df2018['OPINION'].isna()

In [ ]:
# Création de 2 DF nommées 'clean' et 'nan' (voir quête précédente) :

df_clean = df2018[df2018.OPINION.notna()]
df_nan = df2018[df2018.OPINION.isna()]

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 364
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    341 non-null    object
 1   MAX_TEMPERATURE_C       341 non-null    int64
 2   MIN_TEMPERATURE_C       341 non-null    int64
 3   WINDSPEED_MAX_KMH       341 non-null    int64
 4   TEMPERATURE_MORNING_C   341 non-null    int64
 5   TEMPERATURE_NOON_C      341 non-null    int64
 6   TEMPERATURE_EVENING_C   341 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     341 non-null    float64
 8   HUMIDITY_MAX_PERCENT    341 non-null    int64
 9   VISIBILITY_AVG_KM       341 non-null    float64
 10  PRESSURE_MAX_MB         341 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  341 non-null    float64
 12  HEATINDEX_MAX_C         341 non-null    int64
 13  DEWPOINT_MAX_C          341 non-null    int64
 14  WINDTEMP_MAX_C          341 non-null    int64
 15  WEATHER_CODE_EVENING    341 non-null    float64
 16  TOTAL_SNOW_MM           341 non-null    float64
 17  UV_INDEX                341 non-null    float64
 18  SUNHOUR                 341 non-null    float64
 19  OPINION                 341 non-null    object
 20  FLAG                    341 non-null    bool
dtypes: bool(1), float64(7), int64(11), object(2)
memory usage: 56.3+ KB

In [ ]:
df_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 18 to 349
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    24 non-null     object
 1   MAX_TEMPERATURE_C       24 non-null     int64
 2   MIN_TEMPERATURE_C       24 non-null     int64
 3   WINDSPEED_MAX_KMH       24 non-null     int64
 4   TEMPERATURE_MORNING_C   24 non-null     int64
 5   TEMPERATURE_NOON_C      24 non-null     int64
 6   TEMPERATURE_EVENING_C   24 non-null     int64
 7   PRECIP_TOTAL_DAY_MM     24 non-null     float64
 8   HUMIDITY_MAX_PERCENT    24 non-null     int64
 9   VISIBILITY_AVG_KM       24 non-null     float64
 10  PRESSURE_MAX_MB         24 non-null     int64
 11  CLOUDCOVER_AVG_PERCENT  24 non-null     float64
 12  HEATINDEX_MAX_C         24 non-null     int64
 13  DEWPOINT_MAX_C          24 non-null     int64
 14  WINDTEMP_MAX_C          24 non-null     int64
 15  WEATHER_CODE_EVENING    24 non-null     float64
 16  TOTAL_SNOW_MM           24 non-null     float64
 17  UV_INDEX                24 non-null     float64
 18  SUNHOUR                 24 non-null     float64
 19  OPINION                 0 non-null      object
 20  FLAG                    24 non-null     bool
dtypes: bool(1), float64(7), int64(11), object(2)
memory usage: 4.0+ KB

Train-test split the new 2018 DataFrame

In [ ]:
df2018.columns

Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR', 'OPINION', 'FLAG'],
      dtype='object')

In [ ]:
# Define X et y :

X = df_clean[['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR']]

y = df_clean["OPINION"]

In [ ]:
# Split your datas into train and test datasets, and random_state = 42 :

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

The length of the initial dataset is : 341
The length of the train dataset is   : 255
The length of the test dataset is    : 86

In [ ]:
# STANDARDISATION DES DONNEES : 

# Scaler and train the model :
scaler = StandardScaler().fit(X_train)

# Transformation :
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

Train 3 differents Machine Learning algorithms (KNN, logistic regression and decision tree) with "opinion" as target

### KNN + PARAMETRES

In [ ]:
# Fit the KNN :

modelKNN = KNeighborsClassifier().fit(X_train_scaled, y_train)

In [ ]:
# Print the accuracy score on the train set and on the test set.

print("\nScore of KNN Train dataset :", modelKNN.score(X_train_scaled, y_train))
print("Score of KNN Test dataset :", modelKNN.score(X_test_scaled, y_test))

Score of KNN Train dataset : 0.8156862745098039
Score of KNN Test dataset : 0.7325581395348837

In [ ]:
pd.DataFrame(data = confusion_matrix(y_true = y_test, y_pred = modelKNN.predict(X_test_scaled)), 
              index = modelKNN.classes_ + " ACTUAL",
              columns = modelKNN.classes_ + " PREDICTED")

                         bad PREDICTED  ...  very good PREDICTED
bad ACTUAL                          14  ...                    0
good ACTUAL                          0  ...                    3
not good not bad ACTUAL              6  ...                    0
very bad ACTUAL                      2  ...                    0
very good ACTUAL                     0  ...                    4

[5 rows x 5 columns]

In [ ]:
# Boucle pour trouver le meilleur score ('uniform' et 'distance') :

for i in range(2, 11):
    uniform = KNeighborsClassifier(n_neighbors = i, weights = "uniform")
    uniform.fit(X_train_scaled, y_train)
    print(f'n_neighbors = {i}, result = {uniform.score(X_test_scaled, y_test)}')

n_neighbors = 2, result = 0.627906976744186
n_neighbors = 3, result = 0.6976744186046512
n_neighbors = 4, result = 0.6627906976744186
n_neighbors = 5, result = 0.7325581395348837
n_neighbors = 6, result = 0.7093023255813954
n_neighbors = 7, result = 0.6976744186046512
n_neighbors = 8, result = 0.7325581395348837
n_neighbors = 9, result = 0.7325581395348837
n_neighbors = 10, result = 0.7441860465116279

In [ ]:
for i in range(2, 11):
  distance = KNeighborsClassifier(n_neighbors = i, weights = "distance")
  distance.fit(X_train_scaled, y_train)
  print(f'n_neighbors = {i}, result = {distance.score(X_test_scaled, y_test)}')

n_neighbors = 2, result = 0.6627906976744186
n_neighbors = 3, result = 0.686046511627907
n_neighbors = 4, result = 0.7209302325581395
n_neighbors = 5, result = 0.7325581395348837
n_neighbors = 6, result = 0.7558139534883721
n_neighbors = 7, result = 0.6976744186046512
n_neighbors = 8, result = 0.6976744186046512
n_neighbors = 9, result = 0.7209302325581395
n_neighbors = 10, result = 0.7441860465116279

### LOGISTIC REGRESSION + PARAMETRES

In [ ]:
# Fit a logistic regression :

modelLR = LogisticRegression().fit(X_train_scaled, y_train)

In [ ]:
# Print the accuracy score on the train set and on the test set.

print("\nScore of LR Train dataset :", modelLR.score(X_train_scaled, y_train))
print("Score of LR Test dataset :", modelLR.score(X_test_scaled, y_test))

Score of LR Train dataset : 0.8431372549019608
Score of LR Test dataset : 0.7906976744186046

In [ ]:
# APRES SUPPORT : SERAIT UTILE DE FAIRE LA MATRICE DE CONFUSION AUSSI SUR TRAIN !!!!!

pd.DataFrame(data = confusion_matrix(y_true = y_test, y_pred = modelLR.predict(X_test_scaled)),
             index = modelLR.classes_ + " ACTUAL",
             columns = modelLR.classes_ + " PREDICTED")

                         bad PREDICTED  ...  very good PREDICTED
bad ACTUAL                          15  ...                    0
good ACTUAL                          0  ...                    2
not good not bad ACTUAL              4  ...                    0
very bad ACTUAL                      1  ...                    0
very good ACTUAL                     0  ...                    3

[5 rows x 5 columns]

In [ ]:
modelLR.n_iter_

array([76], dtype=int32)

### DECISION TREE + PARAMETRES

In [ ]:
# Fit the DT :

modelDT = DecisionTreeClassifier().fit(X_train_scaled, y_train)

In [ ]:
# Print the accuracy score on the train set and on the test set.

print("\nScore of DT Train dataset :", modelDT.score(X_train_scaled, y_train))
print("Score of DT Test dataset :", modelDT.score(X_test_scaled, y_test))

Score of DT Train dataset : 1.0
Score of DT Test dataset : 0.8488372093023255

On a de l'overfitting ici...

In [ ]:
pd.DataFrame(data = confusion_matrix(y_true = y_test, y_pred = modelDT.predict(X_test_scaled)),
             index = modelDT.classes_ + " ACTUAL",
             columns = modelDT.classes_ + " PREDICTED")

                         bad PREDICTED  ...  very good PREDICTED
bad ACTUAL                          15  ...                    0
good ACTUAL                          0  ...                    2
not good not bad ACTUAL              4  ...                    0
very bad ACTUAL                      1  ...                    0
very good ACTUAL                     0  ...                    3

[5 rows x 5 columns]

In [ ]:
# Boucle pour trouver le meilleur score pour DT :

for i in range(2, 15):
    DT_loop = DecisionTreeClassifier(max_depth = i)
    DT_loop.fit(X_train_scaled, y_train)
    print(f'max_depth = {i} --> Train = {DT_loop.score(X_train_scaled, y_train)}, Test = {DT_loop.score(X_test_scaled, y_test)} ')

max_depth = 2 --> Train = 0.7333333333333333, Test = 0.686046511627907
max_depth = 3 --> Train = 0.8274509803921568, Test = 0.8372093023255814
max_depth = 4 --> Train = 0.8588235294117647, Test = 0.8255813953488372
max_depth = 5 --> Train = 0.9019607843137255, Test = 0.8953488372093024
max_depth = 6 --> Train = 0.9450980392156862, Test = 0.9302325581395349
max_depth = 7 --> Train = 0.9647058823529412, Test = 0.9069767441860465
max_depth = 8 --> Train = 0.984313725490196, Test = 0.9302325581395349
max_depth = 9 --> Train = 0.9882352941176471, Test = 0.9069767441860465
max_depth = 10 --> Train = 0.9882352941176471, Test = 0.8837209302325582
max_depth = 11 --> Train = 0.996078431372549, Test = 0.8953488372093024
max_depth = 12 --> Train = 0.996078431372549, Test = 0.9069767441860465
max_depth = 13 --> Train = 1.0, Test = 0.9069767441860465
max_depth = 14 --> Train = 1.0, Test = 0.8837209302325582

Find the best accuracy score (on the test set of course)

Best accuracy score --> DT model (max_depth = 6). Fonctionne aussi avec max_depth = 8 (scores identiques).

Fill the missing values in the "opinion" columns whith your best model

In [ ]:
choice_model = DecisionTreeClassifier(max_depth = 6).fit(X_train_scaled, y_train) # toujours avec X_train_scaled

In [ ]:
# Reprenons avec le df_nan créé au début...

X_nan = df_nan[['MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_EVENING',
       'TOTAL_SNOW_MM', 'UV_INDEX', 'SUNHOUR']]

In [ ]:
# Transform X_nan scaler :

X_nan_scaled = scaler.transform(X_nan)

In [ ]:
# Predict

y_df_nan = pd.Series(choice_model.predict(X_nan_scaled), index = df_nan.index)

In [ ]:
y_df_nan.head(20)

18                  bad
31             very bad
66     not good not bad
100    not good not bad
118                 bad
143                good
152                good
163    not good not bad
165    not good not bad
175                good
184                good
191                good
194           very good
197                good
204           very good
220                good
225                good
234                good
266    not good not bad
317    not good not bad
dtype: object

In [ ]:
# Fill the column 'OPINION' :

df_nan["OPINION"].fillna(y_df_nan, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
df_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 18 to 349
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    24 non-null     object
 1   MAX_TEMPERATURE_C       24 non-null     int64
 2   MIN_TEMPERATURE_C       24 non-null     int64
 3   WINDSPEED_MAX_KMH       24 non-null     int64
 4   TEMPERATURE_MORNING_C   24 non-null     int64
 5   TEMPERATURE_NOON_C      24 non-null     int64
 6   TEMPERATURE_EVENING_C   24 non-null     int64
 7   PRECIP_TOTAL_DAY_MM     24 non-null     float64
 8   HUMIDITY_MAX_PERCENT    24 non-null     int64
 9   VISIBILITY_AVG_KM       24 non-null     float64
 10  PRESSURE_MAX_MB         24 non-null     int64
 11  CLOUDCOVER_AVG_PERCENT  24 non-null     float64
 12  HEATINDEX_MAX_C         24 non-null     int64
 13  DEWPOINT_MAX_C          24 non-null     int64
 14  WINDTEMP_MAX_C          24 non-null     int64
 15  WEATHER_CODE_EVENING    24 non-null     float64
 16  TOTAL_SNOW_MM           24 non-null     float64
 17  UV_INDEX                24 non-null     float64
 18  SUNHOUR                 24 non-null     float64
 19  OPINION                 24 non-null     object
 20  FLAG                    24 non-null     bool
dtypes: bool(1), float64(7), int64(11), object(2)
memory usage: 4.0+ KB

Modèle utilisé -> DT car c'est celui qui donne les meilleurs résultats.