# Execute the code below

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from sklearn.linear_model import LinearRegression
link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/weather2019.csv"
df_weather = pd.read_csv(link)

# Scoring and metrics
Last time, you did a multivariate linear regression. But how can you be sure this multivariate linear regression is better than an univariate ? You have to measure it !

## First regression
Let's begin with a first linear regression : create a new column `'predict_from_sun'` whith the prediction of MAX temperature from the SUNHOUR variable.

In [ ]:
# Your code here :

# Train the model :
X = df_weather[['SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']

model_from_sun = LinearRegression().fit(X, y)

In [ ]:
# Explore the model :

print("coefficient :",model_from_sun.coef_)
print("intercept :", model_from_sun.intercept_)

coefficient : [1.28422116]
intercept : 4.8472953557195435

In [ ]:
# Predictions. Create the new column 'predict_from_sun' :

df_weather[['predict_from_sun']] = model_from_sun.predict(df_weather[['SUNHOUR']])

In [ ]:
df_weather.head()

         DATE  MAX_TEMPERATURE_C  ...  DAY  predict_from_sun
0  2019-01-01                  9  ...    1         11.396823
1  2019-01-02                  8  ...    2         16.020019
2  2019-01-03                  6  ...    3         16.020019
3  2019-01-04                  5  ...    4         11.396823
4  2019-01-05                  6  ...    5         16.020019

[5 rows x 25 columns]

## R2 score
The best possible R2 score is '1', when our prediction predicts perfectly the reality. Let's see what is our R2 score :

In [ ]:
# Change the name of the model if it's necessary
model_from_sun.score(X, y)

0.47654554059087306

## Let's continue with 2 others regressions
- Second regression : create a new column 'predict_from_min' whith the prediction of MAX temperature from the MIN temperature variable
- Third regression : create a new column 'predict_from_both' whith the prediction of MAX temperature from the both variables (MIN temperature and Sunhours)

####Second regression : create a new column 'predict_from_min' whith the prediction of MAX temperature from the MIN temperature variable :

In [ ]:
# Your code here :

# Train the model :
X2 = df_weather[['MIN_TEMPERATURE_C']] 
y = df_weather['MAX_TEMPERATURE_C']

model_from_min = LinearRegression().fit(X2, y)

In [ ]:
# Explore the model :

print("coefficient :",model_from_min.coef_)
print("intercept :", model_from_min.intercept_)

coefficient : [1.22274205]
intercept : 5.689031214578716

In [ ]:
# Predictions. Create the new column 'predict_from_sun' :

df_weather[['predict_from_min']] = model_from_min.predict(df_weather[['MIN_TEMPERATURE_C']])

In [ ]:
df_weather.head()

         DATE  MAX_TEMPERATURE_C  ...  predict_from_sun  predict_from_min
0  2019-01-01                  9  ...         11.396823         10.579999
1  2019-01-02                  8  ...         16.020019         11.802741
2  2019-01-03                  6  ...         16.020019          5.689031
3  2019-01-04                  5  ...         11.396823          4.466289
4  2019-01-05                  6  ...         16.020019          4.466289

[5 rows x 26 columns]

#### Third regression : create a new column 'predict_from_both' whith the prediction of MAX temperature from the both variables (MIN temperature and Sunhours)

In [ ]:
X3 = df_weather[["SUNHOUR", "MIN_TEMPERATURE_C"]]
y = df_weather["MAX_TEMPERATURE_C"]

model_from_both = LinearRegression().fit(X3, y)

In [ ]:
print("coefficient :", model_from_both.coef_)
print("intercept :", model_from_both.intercept_)

coefficient : [0.66222402 0.98867383]
intercept : 1.6488837312596747

In [ ]:
df_weather[["predict_from_both"]] = model_from_both.predict(df_weather[["SUNHOUR", "MIN_TEMPERATURE_C"]])

## Calculate the R2 score of the 2 new predictions
Be careful : if you still use the same "X" name, you will overwrite it.

Which model has the best score ? Do you think it's logic ?

In [ ]:
# Your code here :

model_from_sun.score(X, y)

0.47654554059087306

In [ ]:
model_from_min.score(X2, y)

0.7689396999057355

In [ ]:
model_from_both.score(X3, y)

0.8674787980774968

### C'est model_from_min qui obtient le meilleur score.
Note : Si on prend en compte la régression multivariée (predict_from_both) ci-dessus, c'est elle qui obtient le meilleur score car on a utilisé deux colonnes pour faire des prédictions, au lieu d'une pour les autres scores.

# Train Test Split
One of biggest problems of Machine learning is : **overfitting**.

To be sure that machine didn't memorize the result, we use the Train Test Split methodology. We keep some data separate (often 25% of our initial dataset). Then we train our model on the 75% (the "Train set"). 
After, we can calculate a score on the "Test set".

Let's do that !

In [ ]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']

# Here, we split our 2 datasets (the variables "X" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

The length of the initial dataset is : 365
The length of the train dataset is   : 273
The length of the test dataset is    : 92

Score for the Train dataset : 0.47243569075679914
Score for the Test dataset : 0.4749360350733982

## Both scores are very close, there is no overfitting, well done !

What happens if we don't randomize our dataset. Here, the model learns only on the 9 first months.

In [ ]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C']]
y = df_weather['MAX_TEMPERATURE_C']

# We set the size of the train set to 75%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, shuffle = False)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Train dataset : 0.7875765302008688
Score for the Test dataset : 0.03610833322378593

## There is an overfitting ! 
Indeed, the model get a good score on the Train dataset, because he learned in winter / spring / summer datas. But he get a bad score in Falls...

# Let's play !
Train a new model with all numeric variables (without your target of course) and try to have a better score than previously.

Remember to split randomly your dataset before training your model.

Display the Test score.

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    365 non-null    object
 1   MAX_TEMPERATURE_C       365 non-null    int64
 2   MIN_TEMPERATURE_C       365 non-null    int64
 3   WINDSPEED_MAX_KMH       365 non-null    int64
 4   TEMPERATURE_MORNING_C   365 non-null    int64
 5   TEMPERATURE_NOON_C      365 non-null    int64
 6   TEMPERATURE_EVENING_C   365 non-null    int64
 7   PRECIP_TOTAL_DAY_MM     365 non-null    float64
 8   HUMIDITY_MAX_PERCENT    365 non-null    int64
 9   VISIBILITY_AVG_KM       365 non-null    float64
 10  PRESSURE_MAX_MB         365 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT  365 non-null    float64
 12  HEATINDEX_MAX_C         365 non-null    int64
 13  DEWPOINT_MAX_C          365 non-null    int64
 14  WINDTEMP_MAX_C          365 non-null    int64
 15  WEATHER_CODE_MORNING    365 non-null    int64
 16  WEATHER_CODE_NOON       365 non-null    int64
 17  WEATHER_CODE_EVENING    365 non-null    int64
 18  TOTAL_SNOW_MM           365 non-null    int64
 19  UV_INDEX                365 non-null    int64
 20  SUNHOUR                 365 non-null    float64
 21  OPINION                 365 non-null    object
 22  MONTH                   365 non-null    int64
 23  DAY                     365 non-null    int64
 24  predict_from_sun        365 non-null    float64
 25  predict_from_min        365 non-null    float64
 26  predict_from_both       365 non-null    float64
dtypes: float64(7), int64(18), object(2)
memory usage: 77.1+ KB

In [ ]:
df_weather.columns

Index(['DATE', 'MAX_TEMPERATURE_C', 'MIN_TEMPERATURE_C', 'WINDSPEED_MAX_KMH',
       'TEMPERATURE_MORNING_C', 'TEMPERATURE_NOON_C', 'TEMPERATURE_EVENING_C',
       'PRECIP_TOTAL_DAY_MM', 'HUMIDITY_MAX_PERCENT', 'VISIBILITY_AVG_KM',
       'PRESSURE_MAX_MB', 'CLOUDCOVER_AVG_PERCENT', 'HEATINDEX_MAX_C',
       'DEWPOINT_MAX_C', 'WINDTEMP_MAX_C', 'WEATHER_CODE_MORNING',
       'WEATHER_CODE_NOON', 'WEATHER_CODE_EVENING', 'TOTAL_SNOW_MM',
       'UV_INDEX', 'SUNHOUR', 'OPINION', 'MONTH', 'DAY', 'predict_from_sun',
       'predict_from_min', 'predict_from_both'],
      dtype='object')

In [ ]:
X4 = df_weather[["MIN_TEMPERATURE_C", "WINDSPEED_MAX_KMH", "TEMPERATURE_MORNING_C", "TEMPERATURE_NOON_C", "TEMPERATURE_EVENING_C", "PRECIP_TOTAL_DAY_MM", "HUMIDITY_MAX_PERCENT", "VISIBILITY_AVG_KM", "PRESSURE_MAX_MB", "CLOUDCOVER_AVG_PERCENT",
                "HEATINDEX_MAX_C", "DEWPOINT_MAX_C", "WINDTEMP_MAX_C", "WEATHER_CODE_MORNING", "WEATHER_CODE_NOON", "WEATHER_CODE_EVENING", "TOTAL_SNOW_MM", "UV_INDEX", "SUNHOUR"]] 
y = df_weather['MAX_TEMPERATURE_C']

In [ ]:
# Here, we split our 2 datasets (the variables "X3" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.

X4_train, X4_test, y_train, y_test = train_test_split(X4, y, random_state = 42, train_size = 0.75)
print("The length of the initial dataset is :", len(X4))
print("The length of the train dataset is   :", len(X4_train))
print("The length of the test dataset is    :", len(X4_test))

The length of the initial dataset is : 365
The length of the train dataset is   : 273
The length of the test dataset is    : 92

In [ ]:
# Train the train dataset model :

numeric_model = LinearRegression().fit(X4_train, y_train)

In [ ]:
# Train the model :

# numeric_model = LinearRegression().fit(X4, y)

In [ ]:
# Explore the model :

print("coefficient :", numeric_model.coef_)
print("intercept :", numeric_model.intercept_)

coefficient : [ 5.13408712e-02 -2.39775729e-03 -9.04330938e-02  2.00604896e-01
  1.53611131e-01  4.39404609e-03 -1.69138371e-03  8.39985207e-03
 -2.09554958e-03 -6.15223262e-03  5.83442168e-01 -2.06830234e-02
  6.34672215e-02  5.96679795e-04 -4.84761209e-05 -2.28428332e-04
  0.00000000e+00 -1.91118013e-03 -1.12072204e-02]
intercept : 3.9668636158978163

In [ ]:
# Predictions :

df_weather[["NEW_PREDICT"]] = numeric_model.predict(df_weather[["MIN_TEMPERATURE_C", "WINDSPEED_MAX_KMH", "TEMPERATURE_MORNING_C", "TEMPERATURE_NOON_C", "TEMPERATURE_EVENING_C", "PRECIP_TOTAL_DAY_MM", "HUMIDITY_MAX_PERCENT", "VISIBILITY_AVG_KM", "PRESSURE_MAX_MB", "CLOUDCOVER_AVG_PERCENT",
                "HEATINDEX_MAX_C", "DEWPOINT_MAX_C", "WINDTEMP_MAX_C", "WEATHER_CODE_MORNING", "WEATHER_CODE_NOON", "WEATHER_CODE_EVENING", "TOTAL_SNOW_MM", "UV_INDEX", "SUNHOUR"]])

In [ ]:
df_weather.head()

         DATE  MAX_TEMPERATURE_C  ...  predict_from_both  NEW_PREDICT
0  2019-01-01                  9  ...           8.980922     9.061361
1  2019-01-02                  8  ...          12.353602     7.779382
2  2019-01-03                  6  ...           7.410233     5.878891
3  2019-01-04                  5  ...           4.037552     5.341029
4  2019-01-05                  6  ...           6.421559     6.163955

[5 rows x 28 columns]

In [ ]:
# Your code here :

# And now we compare both scores :

print("\nScore for the Train dataset :", numeric_model.score(X4_train, y_train))
print("Score for the Test dataset :", numeric_model.score(X4_test, y_test))

Score for the Train dataset : 0.9933019894679643
Score for the Test dataset : 0.9954105735786438

## Les scores sont cette fois très proches, pas d'overfitting !